# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/

# Temporary files
*.tmp
*.log

# Environment variables
.env

# Test artifacts
out.txt
